{include file="common/header"}
<link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/index/zxcc/css/brzx.css">
<div class="box">
    <div class="topPic">
        <img src="__STATIC_PATH__/index/zxcc/images/brzx_bg.jpg" alt="">
        <span class="text1">百人助学 </span>
        <br>
        <span class="text2">高校助学大使</span>
        <br>
        <span class="text3">University Student Ambassadors</span>
    </div>
    <div class="container">
        <div class="two">
            <h3 class="title">什么是高校大使？</h3>
            <br>
            <span class="english">What is a university Ambassador? </span>
            <div class="news">
                <p style="text-align: left;margin-top: 50px">公司会在千人计划里面挑选部分综合素质高的同学进行精英打造，一方面把技术扎实和学习能力强的同学培养成兼职或全职讲师，帮助本校同学提升技能 并组织交流活动、组织团队项目实战；另一方面对营销策划和运营管理有兴趣的同学，公司将对其进行系统的演讲沟通、营销业务、商务策划、项目运营、 团队管理、情商与财商等专业能力提升，并通过兼职或全职的助学大使营销工作，实践营销策划和运营管理能力，助力其在工作后成为营销行业的精英人 才。高校助学大使在得到免费的系统培训的同时可以获得一定的劳动收入和更多的优质人脉。
                </p>
            </div>
            <div class="zhiye">
                <ul>
                    <li><img src="__STATIC_PATH__/index/zxcc/images/brzx_pic_03.jpg"><span>全职讲师 </span></li>
                    <li><img src="__STATIC_PATH__/index/zxcc/images/brzx_pic_06.jpg"><span>行业精英</span></li>
                    <li><img src="__STATIC_PATH__/index/zxcc/images/brzx_pic_08.jpg"><span>人脉达人</span></li>
                </ul>
            </div>
        </div>
        <div class="two">
            <h3 class="title">高校大使的使命和价值</h3>
            <br>
            <span class="english">What is a university Ambassador?</span>
            <div class="news">
                <p style="text-align: left;margin-top: 50px">公司会在千人计划里面挑公司会在千人计划里面挑选部分综合素质高的同学进行精英打造，一方面把技术扎实和学习能力强的同学培养成兼职或全职讲师，帮助本校同学提升技能 并组织交流活动、组织团队项目实战；另一方面对营销策划和运营管理有兴趣的同学，公司将对其进行系统的演讲沟通、营销业务、商务策划、项目运营、 团队管理、情商与财商等专业能力提升，并通过兼职或全职的助学大使营销工作，实践营销策划和运营管理能力，助力其在工作后成为营销行业的精英人 才。高校助学大使在得到免费的系统培训的同时可以获得一定的劳动收入和更多的优质人脉。
                </p>
            </div>
            <div class="zhiye">
                <ul>
                    <li><img src="__STATIC_PATH__/index/zxcc/images/brzx_pic_14.jpg"><span>提升自我能力 </span></li>
                    <li><img src="__STATIC_PATH__/index/zxcc/images/brzx_pic_17.jpg"><span>帮助他人成长</span></li>
                    <li><img src="__STATIC_PATH__/index/zxcc/images/brzx_pic_20.jpg"><span>带动学习热潮</span></li>
                </ul>
            </div>
        </div>
        <div class="two">
            <h3 class="title">高校大使的成长与收获</h3>
            <br>
            <span class="english">What is a university Ambassador?  拷贝 2</span>
            <div class="news">
                <p style="text-align: left;margin-top: 50px">公司会在千人计划里面挑公司会在千人计划里面挑选部分综合素质高的同学进行精英打造，一方面把技术扎实和学习能力强的同学培养成兼职或全职讲师，帮助本校同学提升技能 并组织交流活动、组织团队项目实战；另一方面对营销策划和运营管理有兴趣的同学，公司将对其进行系统的演讲沟通、营销业务、商务策划、项目运营、 团队管理、情商与财商等专业能力提升，并通过兼职或全职的助学大使营销工作，实践营销策划和运营管理能力，助力其在工作后成为营销行业的精英人 才。高校助学大使在得到免费的系统培训的同时可以获得一定的劳动收入和更多的优质人脉。
                </p>
            </div>
            <div class="zhiye">
                <ul>
                    <li><img src="__STATIC_PATH__/index/zxcc/images/brds_pic_06.jpg"><span>演讲沟通 </span></li>
                    <li><img src="__STATIC_PATH__/index/zxcc/images/brzx_pic_25.jpg"><span>营销业务</span></li>
                    <li><img src="__STATIC_PATH__/index/zxcc/images/brds_pic_03.jpg"><span>商务策划</span></li>
                    <br>
                    <li><img src="__STATIC_PATH__/index/zxcc/images/brds_pic_11.jpg"><span>项目运营</span></li>
                    <li><img src="__STATIC_PATH__/index/zxcc/images/brds_pic_13.jpg"><span>团队管理</span></li>
                    <li><img src="__STATIC_PATH__/index/zxcc/images/brds_pic_15.jpg"><span>财商与情商</span></li>
                </ul>
            </div>
        </div>
        <div class="two">
            <h3 class="title">申请与加入的条件</h3>
            <br>
            <span class="english">What is a university Ambassador?</span>
            <div class="news">
                <p style="text-align:left;margin-top: 50px">公司会在千人计划里面挑公司会在千人计划里面挑选部分综合素质高的同学进行精英打造，一方面把技术扎实和学习能力强的同学培养成兼职或全职讲师，帮助本校同学提升技能 并组织交流活动、组织团队项目实战；另一方面对营销策划和运营管理有兴趣的同学，公司将对其进行系统的演讲沟通、营销业务、商务策划、项目运营、 团队管理、情商与财商等专业能力提升，并通过兼职或全职的助学大使营销工作，实践营销策划和运营管理能力，助力其在工作后成为营销行业的精英人 才。高校助学大使在得到免费的系统培训的同时可以获得一定的劳动收入和更多的优质人脉。
                </p>
            </div>
        </div>
    </div>
</div>
<div class="tiaojian">
    <div class="container">
        <ul>
            <li>
                <span>1</span>
                <span class="tj_text">
							<p>大学专、本科学生，有责任心、品行端正。
                            </p></span>
            </li>
            <li>
                <span>2</span>
                <span class="tj_text">
							<p>热爱销售工作、有挑战精神、有激情、有团队精神、良好的情绪与压力管控能力。
                            </p></span>
            </li>
            <li>
                <span>3</span>
                <span class="tj_text">
							<p>对于成功加入营销千人培养计划的学生，个人需要交纳每年的学习资料费（主要为电子版资料，包括每天课程的视频，学习文档和部分纸
质版，文化衫等资料）。其中前一百名加入的大学生缴纳的学习资料费为：1000元/人。 
                            </p></span>
            </li>
            <li>
                <span>4</span>
                <span class="tj_text">
							<p>毕业时在同等条件下优先选择进入公司推荐的企业实习或工作，企业免费实习期为3-15天。
                            </p></span>
            </li>
        </ul>
    </div>
</div>
</div>
{include file="common/footer"}