	{include file="common/header"}
	<link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/index/zxcc/css/qrpy2.css">
</head>
<body>
<div class="box">
	<div class="topPic">
		<img src="__STATIC_PATH__/index/zxcc/images/qryx2_02.jpg" alt="">
		<span  class="text1">IT千人培养 </span><br>
		<span  class="text2">企业储备精英</span><br>
		<span  class="text3">Enterprise reserve elite</span>
		<span  class="btn1">IT千人培养</span>
		<span  class="btn2">营销千人培养</span>	
	</div>
	<div class="container">
		<div class="first">
			<h3 class="title">IT千人培养（企业储备精英）</h3><br>
			<span class="english">Enterprise reserve elite</span>
			<div class="two">
			<div class="news">
				<div class="box">
				<p>营销岗位课程设置</p>
				</div>
				<p class="text">培养周期：1个月（3-15天培养，3-15天企业实习）  
                </p>
                <img src="__STATIC_PATH__/index/zxcc/images/go.png" class="go">
			</div>
			<div class="news">
				<div class="box">
				<p>营销培训时间</p>
				</div>
				<p class="text">线上＋线下<br>
周一到周五晚上：19:30-21:30，周六日：9:00-12:00，13:30-16:30 <br>
寒暑假培养时间: 周一到周六9:00-12:00，13:30-16:30
                </p>
                <img src="__STATIC_PATH__/index/zxcc/images/go.png" class="go">
			</div>
			<div class="news">
				<div class="box">
				<p>营销培训内容</p>
				</div>
				<p class="text" style="margin-top: 20px">营销管理＋职场素质提升类 <br>
营销类：营销顾问职业发展客户开拓与管理渠道建设与开发大客户管理新媒体营销情绪与压力管理投诉与服务<br>
职场素质提升：简历撰写与求职技巧 模拟面试 职业性格分析 商务汇报与谈判 人际沟通职场礼仪、拓展训练等。
                </p>
                <img src="__STATIC_PATH__/index/zxcc/images//go.png" class="go">
			</div>
			<div class="news">
				<div class="box">
				<p>授课导师</p>
				</div>
				<p class="text">
（1）	外企、国企及民营企业在职营销经理、总监以上级别或具有丰富的企业营销、管理实战经验的总经理，营
销从业经验需>5年以上。<br>
（2）	专业讲师从业经验需>8年以上，教学严谨专业、可操作性、实用性及课堂内容丰富、互动性强。

  
                </p>
                <img src="__STATIC_PATH__/index/zxcc/images/go.png" class="go">
			</div>
			<div class="news">
				<div class="box">
				<p>就业保证服务</p>
				</div>
				<p class="text">（1）	凡参加营销人才千人计划的，均可享受不限次数免费推荐就业服务，名企优先推荐。<br>
（2）	如表现优秀者，均可现场享受企业总经理及营销高管导师们一对一指导，特别优秀者可直接入职各导师企业。<br>
（3）	如推荐5次以上人才未能成功入职企业者，学习资料费全额退还。
  
                </p>
                <img src="__STATIC_PATH__/index/zxcc/images/go.png" class="go">
			</div>
        <h3 center class="type4" style="margin-top: 120px;background:#3a3a3a ">加入条件</h3>
		</div>
		</div>
		</div>
	<div class="tiaojian">
		<div class="container">
		<ul>
				<li>
					<span>1</span>
						<span class="tj_text">
							<p>大学专、本科学生，有责任心、品行端正。

                            </p></span>
				</li>
				<li>
					<span>2</span>
						<span class="tj_text">
							<p>热爱销售工作、有挑战精神、有激情、有团队精神、良好的情绪与压力管控能力。
                            </p></span>
				</li>
				<li>
					<span>3</span>
						<span class="tj_text">
							<p>对于成功加入营销千人培养计划的学生，个人需要交纳每年的学习资料费（主要为电子版资料，包括每天课程的视频，学习文档和部分纸
质版，文化衫等资料）。其中前一百名加入的大学生缴纳的学习资料费为：1000元/人。 
                            </p></span>
				</li>
				<li>
					<span>4</span>
						<span class="tj_text">
							<p>毕业时在同等条件下优先选择进入公司推荐的企业实习或工作，企业免费实习期为3-15天。
                            </p></span>
				</li>
				
			</ul>	
		</div>
	</div>

<script type="text/javascript">
	var btn1=document.getElementsByClassName("btn1")[0]
	btn1.onclick=function(){
		window.location.href="qrpy.html"
	}
</script>
{include file="common/footer"}