
	{include file="common/header"}
	<link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/index/zxcc/css/index.css">

<div class="box">
	<div class="topPic">
		<img src="__STATIC_PATH__/index/zxcc/images/topPic.jpg" alt="">
		<span  class="text1">万人受益/普及</span><br>
		<span  class="text2">公益实训生</span><br>
		<span  class="text3">Public welfare training students</span>	
	</div>
	<div class="container">
		<div class="first">
			<h3 class="title">万人受益/普及：（公益实训生）</h3><br>
			<span class="english">Enterprise reserve elite</span>
			<div class="text">项目组每年会利用五一、十一、暑假、寒假和周末等节假日时间组织IT公益实训和职场发展公益论坛，帮助在校大<br>
            学生免费提升IT及营销技能并加深对行业和企业需求的了解，提高面试技巧等软性能力，出具社会实践证明等。</div>
		</div>
		<div class="two">
			<h3 class="title">最新公益实训</h3><br>
			<span class="english">Latest information</span>
			<div class="news">
				<div class="box">
				<p>未来已来@澳源<br>
				   <span>2017夏暑IT热训营</span></p>
				</div>
				<p>炎热酷暑，您是想宅在家里躲避酷热，还是想强大内心的一片绿荫？澳源科技现推出2017暑期IT公益特训
营，3期共为华南区高校大学生发布150个免费技术与项目实训名额，正火热报名中，为您的高薪就业或创
业梦想添砖加瓦。赶快加入吧！
                </p>
                <img src="__STATIC_PATH__/index/zxcc/images/go.png" class="go">
			</div>
			<div class="news">
				<div class="box">
				<p>未来已来@澳源<br>
				   <span>2017夏暑IT热训营</span></p>
				</div>
				<p>炎热酷暑，您是想宅在家里躲避酷热，还是想强大内心的一片绿荫？澳源科技现推出2017暑期IT公益特训
营，3期共为华南区高校大学生发布150个免费技术与项目实训名额，正火热报名中，为您的高薪就业或创
业梦想添砖加瓦。赶快加入吧！
                </p>
                <img src="__STATIC_PATH__/index/zxcc/images/go.png" class="go">
			</div>
			<div class="news">
				<div class="box">
				<p>未来已来@澳源<br>
				   <span>2017夏暑IT热训营</span></p>
				</div>
				<p>炎热酷暑，您是想宅在家里躲避酷热，还是想强大内心的一片绿荫？澳源科技现推出2017暑期IT公益特训
营，3期共为华南区高校大学生发布150个免费技术与项目实训名额，正火热报名中，为您的高薪就业或创
业梦想添砖加瓦。赶快加入吧！
                </p>
                <img src="__STATIC_PATH__/index/zxcc/images/go.png" class="go">
			</div>
		</div>

		<div class="third">
			<h3 class="title">最新公益实训</h3><br>
			<span class="english">Latest information</span>
			<ul class="img">
			<li><img src="__STATIC_PATH__/index/zxcc/images/pho_03.jpg"></li>
			<li><img src="__STATIC_PATH__/index/zxcc/images/pho_06.jpg"></li>
			<li><img src="__STATIC_PATH__/index/zxcc/images/pho_09.jpg"></li>
			<li><img src="__STATIC_PATH__/index/zxcc/images/pho_14.jpg"></li>
			<li><img src="__STATIC_PATH__/index/zxcc/images/pho_15.jpg"></li>
			<li><img src="__STATIC_PATH__/index/zxcc/images/pho_17.jpg"></li>
			</ul>
		</div>
	</div>
</div>
{include file="common/footer"}