<!-- <link rel="stylesheet" type="text/css" href="css/common.css"/> -->		
{include file="common/header"}
	<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/index/zxcc/css/project_lecturer.css"/>

		<div class="bannar">
			<img src="__STATIC_PATH__/index/zxcc/images/banner_02.png"/>
		</div>
		<div class="project_lecturer container">
			
			<ul class="logo">
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_08.png" alt="" />
					<div class="san"></div>
					<p class="name">蔡炼云</p>
					<p class="who">保利地产顺德分公司<br />副总经理</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_10.png" alt="" />
					<div class="san"></div>
					<p class="name">杨瑞越</p>
					<p class="who">著名天使投资人</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_05.png" alt="" />
					<div class="san"></div>
					<p class="name">曾庆超</p>
					<p class="who">著名500强国企<br />总经理</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_03.png" alt="" />
					<div class="san"></div>
					<p class="name">王勇</p>
					<p class="who">李锦记新会培训经理</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_13.png" alt="" />
					<div class="san"></div>
					<p class="name">邝顺吉</p>
					<p class="who">深圳前海普维投资控股合伙人</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_30.png" alt="" />
					<div class="san"></div>
					<p class="name">叶青</p>
					<p class="who">澳元健策划总监</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_27.png" alt="" />
					<div class="san"></div>
					<p class="name">陈亚萍</p>
					<p class="who">言邦咨询公司CEO </p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_33.png" alt="" />
					<div class="san"></div>
					<p class="name">叶克成</p>
					<p class="who">澳源科技副总经理</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_39.png" alt="" />
					<div class="san"></div>
					<p class="name">赖一贝</p>
					<p class="who">言邦咨询CHO </p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_37.png" alt="" />
					<div class="san"></div>
					<p class="name">王丽君</p>
					<p class="who">言邦人才项目总监</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_47.png" alt="" />
					<div class="san"></div>
					<p class="name">周霞</p>
					<p class="who">广告设计创意总监</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_49.png" alt="" />
					<div class="san"></div>
					<p class="name">王国敏</p>
					<p class="who">高级UI设计讲师</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_51.png" alt="" />
					<div class="san"></div>
					<p class="name">何亮</p>
					<p class="who">室内VR设计总监</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_53.png" alt="" />
					<div class="san"></div>
					<p class="name">卢志东</p>
					<p class="who">资深前端开发讲师</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_55.png" alt="" />
					<div class="san"></div>
					<p class="name">彭劲</p>
					<p class="who">高级PHP项目经理</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_63.png" alt="" />
					<div class="san"></div>
					<p class="name">蒲明华</p>
					<p class="who">资深全栈开发经理</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_65.png" alt="" />
					<div class="san"></div>
					<p class="name">肖辉</p>
					<p class="who">品牌策划总监</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_67.png" alt="" />
					<div class="san"></div>
					<p class="name">刘天蛟</p>
					<p class="who">资深游戏设计总监</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_69.png" alt="" />
					<div class="san"></div>
					<p class="name">游志东</p>
					<p class="who">前端开发经理</p>
				</li>
				<li>
					<img src="__STATIC_PATH__/index/zxcc/images/xmjs_72.png" alt="" />
					<div class="san"></div>
					<p class="name">梁源星</p>
					<p class="who">广东省广告公司设计总监</p>
				</li>
			
			</ul>
		</div>
		
{include file="common/footer"}
