{include file="common/header"}
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/index/tribune/css/tribune_sub.css">
<div class="content">
    {$news_content.content}
    <!-- <div class="ctn_header">
        <p class="title">
            美女设计师创始人Jolin：爱幻想才能改变世界</p>
        <p class="subtitle">
            <span>
                <i class="iconfont">&#xe703;</i>
                 2017-10-23 10:46:21
            </span>
            <span>
                <i class="iconfont">&#xe7a9;</i>
                 377144
            </span>
        </p>
    </div>
    <div class="ctn_body">
        <p>对于家居软装方面的热爱，Jolin说不清从什么时候开始，但疯狂迷恋这个行业要从学生时代说起。Jolin就读于东华大学，主修设计专业，美女总是对美的事物格外敏感。一次偶然的机会接触 家居门店的布展工作，便沉浸其中，喜欢上了跟地毯、抱枕、窗帘打交道的行业，或许也是一种对家的眷恋吧。 
        </p>
        <p>就这样，大学期间就开始了软装设计方面的实习经历，开始把自己的点滴想法融入到实践中。也正是这段经历，让她深知自己和高手的差距不仅仅是经验，更多在对生活的理解和认知上。2010 年毕业后，Jolin凭借出色的毕业成绩与丰富的实习经历，进入中国最好的高端家居用品零售商——美克美家，开始了自己的软装设计工作。短短四年时间，Jolin从一名普通的设计助理成长为 设计主管，带领自己的设计团队开始实践自己一个又一个关于软装设计的“幻想”。
        </p>
        <div class="ctn_img_big">
            <div class="big_left">
                <img src="__STATIC_PATH__/index/tribune/img/big_1.png" alt="big_1">
            </div>
            <div class="big_right">
                <img src="__STATIC_PATH__/index/tribune/img/big_2.png" alt="big_2">
            </div>                
        </div>
        <p>2015年Jolin加入“百搭屋”——软装设计买手平台的创立中，几个联合创始人对于现在家居软装行业消费者选择渠道少、一站式购物难、消费陷阱多等痛点的认识不尽相同，更对于Jolin提 出的独立软装设计买手和软装买手工作室的概念一拍即合。假如有一天，消费者不用再去成本高昂的家居卖场购买商品，而是有具备软装设计能力的买手（buyer）为其服务，体验环节在更加个 性化的设计工作室完成，售后保障由诚信交易平台提供支持，消费者等送货满意再通知平台付款，那一切都会改变，而消费者也不必再为传统门店的高成本而买单。于是，一个汇聚了专业软装设 计买手团队、品牌家居买手店入驻、中国电信支付体系信用背书的中国首家软装设计买手诚信交易平台百搭屋正是上线，上线之后便获得许多消费者的青睐。
        </p>
        <p style="margin-top: 55px;"> Jolin最后说，爱幻想的人才适合创业，因为总能去想象和追求美好的事物，对产品、用户、服务等每个环节都“幻想”能够达到极致，不懈追求，这也是百搭屋（Betawoo）品牌的精髓，期 待着去改变世界。
        </p>
         <div class="ctn_img_sm">
            <div class="sm_left">
                <img src="__STATIC_PATH__/index/tribune/img/sm_1.png" alt="sm_1">
            </div>
            <div class="sm_right">
                <img src="__STATIC_PATH__/index/tribune/img/sm_2.png" alt="sm_2">
            </div>                
        </div>
    </div> -->
</div>
{include file="common/footer"}