{include file="common/header"}
{include file="common/sidebar"}
	<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/index/wyts/css/wyts.css">
	<div class="one">
		<img src="__STATIC_PATH__/index/wyts/images/kaifa_02.jpg" class="bigpic">
	</div>

	<div class="two">
		<div class="software">
			<p class="title1">开发语言单向提升</p>
			<p class="title2">Development of single language promotion </p>
			<div class="pubu">
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_11.jpg" class="smapic">
					<p class="title3">全面学习HTML 5</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_13.jpg" class="smapic">
					<p  class="title3">全面学习CSS 3</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_15.jpg" class="smapic">
					<p  class="title3">Javascript基础</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_17.jpg" class="smapic">
					<p  class="title3">Javascript高级进阶</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_29.jpg" class="smapic">
					<p  class="title3">全面学习jQuery</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_31.jpg" class="smapic">
					<p  class="title3">VUE入门与进阶</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_33.jpg" class="smapic">
					<p  class="title3">nodejs入门与进阶</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_35.jpg" class="smapic">
					<p  class="title3">零基础学习PHP</p>
				</div>
			</div>
		</div>

		<div class="skill">
			<p class="title1">开发项目单向提升</p>
			<p class="title2">Individual promotion of development project </p>
			<div class="pubu">
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_47.jpg" class="smapic">
					<p  class="title4">静态网页设计</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_49.jpg" class="smapic">
					<p  class="title4">高级APP开发实战</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_51.jpg" class="smapic">
					<p  class="title4">高级电商网站开发</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_53.jpg" class="smapic">
					<p  class="title4">进阶nodejs学习</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_65.jpg" class="smapic">
					<p  class="title4">CSS动画实用技巧</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_67.jpg" class="smapic">
					<p  class="title4">CSS3 3D效果学习</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_69.jpg" class="smapic">
					<p  class="title4">Canvas玩儿转红包照片</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/kaifa_71.jpg" class="smapic">
					<p  class="title4">移动WEB开发技术</p>
				</div>
			</div>
		</div>

		<div class="button">
			查看更多
		</div>
	</div>
{include file="common/footer"}