{include file="common/header"}
{include file="common/sidebar"}
	<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/index/wyts/css/wyts.css">
	<div class="one">
		<img src="__STATIC_PATH__/index/wyts/images/tisheng.jpg" class="bigpic">
	</div>

	<div class="two">
		<div class="software">
			<p class="title1">设计软件单向提升</p>
			<p class="title2">Latest information</p>
			<div class="pubu">
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_11.png" class="smapic">
					<p class="title3">Photoshop单项学习</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_13.png" class="smapic">
					<p  class="title3">Illustrator单项学习</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_15.png" class="smapic">
					<p  class="title3">Coreldraw单项学习</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_17.png" class="smapic">
					<p  class="title3">After Effect单项学习</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_29.jpg" class="smapic">
					<p  class="title3">3ds max单项学习</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_31.png" class="smapic">
					<p  class="title3">Cinema 4D单项学习</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_33.png" class="smapic">
					<p  class="title3">VRAY渲染器单项学习</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_35.png" class="smapic">
					<p  class="title3">红巨人插件单项学习</p>
				</div>
			</div>
		</div>

		<div class="skill">
			<p class="title1">设计技能单向提升</p>
			<p class="title2">Latest information</p>
			<div class="pubu">
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_47.png" class="smapic">
					<p  class="title4">高级PS人像精修</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_49.png" class="smapic">
					<p  class="title4">高级PS图像合成</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_51.png" class="smapic">
					<p  class="title4">高级PS产品修图</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_53.png" class="smapic">
					<p  class="title4">高级传统美术</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_65.png" class="smapic">
					<p  class="title4">高级游戏原画设计</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_67.png" class="smapic">
					<p  class="title4">高级游戏建模</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_69.png" class="smapic">
					<p  class="title4">高级unity 3d游戏设计</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_71.png" class="smapic">
					<p  class="title4">平面设计及印刷技术</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_83.png" class="smapic">
					<p  class="title4">图标创意设计</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_85.png" class="smapic">
					<p  class="title4">高级axure交互设计</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_87.png" class="smapic">
					<p  class="title4">高级电商设计</p>
				</div>
				<div class="board">
					<img src="__STATIC_PATH__/index/wyts/images/tisheng_89.png" class="smapic">
					<p  class="title4">高级电商代码</p>
				</div>
			</div>
		</div>

		<div class="button">
			查看更多
		</div>
	</div>
{include file="common/footer"}