
    {include file="common/header"}
    {include file="common/sidebar"}
    <link rel="stylesheet" type="text/css" href="__STATIC_PATH__/index/about/css/about.css">
    <script type="text/javascript" src="__STATIC_PATH__/index/about/js/about.js"></script>
    <!-- banner -->
    <div class="banner">
        <img src="__STATIC_PATH__/index/about/images/about_02.jpg">
    </div>   
    <!-- banner-end -->

    <!-- 关于澳源 -->
    <div class="aboutaoyuan container">
        <h2 class="header">关于澳源</h2>
        <p class="summary">ABOUT</p>
        <div class="content">
            <div class="text">
                <div class="box">
                    <p>澳源科技成立于中国广告业和电子商务业发展迅猛的21世纪初，由国内知名的金融证券公司和房
                地产商投资运营。在互联网行业、电子商务业和广告业迅猛发展的时代背景下，澳源股份依靠强
                大的技术团队为企业和客户提供专业的：IT科技服务、商业视觉设计和品牌策划服务、网站策划
                与互联网开发服务、IT运维与网络营销服务、生物医药科技产品研发与跨境电商服务、大学生创
                业与就业扶持服务、教育产业大数据研究等。
                </p>
                <img src="__STATIC_PATH__/index/about/images/about_03.jpg">
                </div>
                <p>
                截止2017年3月，澳源科技公司发展了澳元健、澳源智享、凡彩电子科技、星珀互动传媒、运筹科技、东莞汇泉投资、点艺数码科技等十几家股东公司和
                分公司。并于2016年2月与澳元健集团合并成立澳源股份，股权代码896342。公司业务遍及广州、上海、深圳、成都、长沙、佛山以及美国、澳大利亚、
                新西兰等国内外20几个国家和地区，在多国拥有自己独立的保税仓。海关保税仓备案号：IE150817366642；海关总署备案号：4401963DXY。
                基于优质的校企合作资源，澳源股份同时为企业提供相关IT技术的内训服务，人才输送服务和高校IT人才实习实训服务。通过整合人才和技术资源，澳源股
                份不断为广告和IT行业输送新鲜血液、为客户提供优质的产品和服务。</p>
                </div>
        </div>
    </div>
    <!-- 关于澳源end -->

    <!-- 澳源文化 -->
    <div class="culture container"">
        <h2  class="header">澳源文化</h2>
        <p class="summary">AOYUAN CULTURE</p>
        <ul>
            <li>
                <div class='img'>
                    <div class="mengban"></div>
                    <div class='biaoti'>
                    使命
                    </div>
                </div>
                <p class='summarytext'>
                为客户提供专业的，符合 时代发展趋势并具有竞争 力的品牌策划、IT技术及 IT人才发展服务
                </p>
            </li><li >
                <div class='img'>
                    <div class="mengban"></div>
                    <div class='biaoti'>
                        愿景
                    </div>
                </div>
                <p class='summarytext'>
                成为国内最权威的品牌策划、IT 技术服务及高端人才培养方案的提供商。
                </p>
            </li><li >               
                <div class='img'><div class="mengban"></div><div class='biaoti'>
                    价值观
                </div>
                </div>
                <p class='summarytext'>
                专业、创新、服务、责任
                </p>
            </li><li >
                <div class='img'><div class="mengban"></div><div class='biaoti'>
                    理念
                </div>
                </div>
                
                <p class='summarytext'>
                智慧传承，追求卓越
                </p>
            </li>
        </ul>

    </div>
    <!-- 澳源文化end -->
    
   

    <!-- 合作企业 -->
    <div class="corporation container">
        <h2  class="header">合作企业</h2>
        <p class="summary">Cooperative enterprise </p>
    <ul>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_30.jpg" alt="1">
            </div>
        </li>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_24.jpg" alt="1">
            </div>
        </li>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_37.jpg" alt="1">
            </div>
        </li>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_24.jpg" style="width: 100%;height: 100%;" alt="1">
            </div>
        </li>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_39.jpg" alt="1">
            </div>
        </li>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_24.jpg" alt="1">
            </div>
        </li>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_42.jpg" alt="1">
            </div>
        </li>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_44.jpg" alt="1">
            </div>
        </li>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_50.jpg" alt="1">
            </div>
        </li>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_51.jpg" alt="1">
            </div>
        </li>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_53.jpg" alt="1">
            </div>
        </li>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_56.jpg" alt="1">
            </div>
        </li>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_63.jpg" alt="1">
            </div>
        </li>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_65.jpg" alt="1">
            </div>
        </li>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_67.jpg" alt="1">
            </div>
        </li>
        <li>
            <div class='img'>
                <img src="__STATIC_PATH__/index/about/images/about_70.jpg" alt="1">
            </div>
        </li>

    </ul>
    <h3>仅支持部分企业</h3>
    </div>
    <!-- 合作企业end -->
     

    {include file="common/footer"}