{include file="common/header"}
<!-- <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.css" rel="stylesheet"> -->
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/index/xqhz/css/xqhz.css">
<div class="box">
    <div class="topPic">
        <img src="__STATIC_PATH__/index/xqhz/images/xqhz_02.jpg" alt="">
    </div>
    <div class="container">
        <div class="first">
            <h3 class="title">校企合作</h3>
            <br>
            <span class="english">School enterprise cooperation</span>
            <div class="text">资源整合，互利共赢—澳源股份从发展初期一直重视同高校和企业的合作。自2010年以来公司依靠自身在业界良好的口碑和技术实力，先后同华南农业大学，广美学院，五邑大学， 广东工业大学，广州大学，广东外语外贸大学，南华大学，广东轻工职业技术学院，广东工贸职业技术学院，广东农工商职业技术学院等50多家高校建立了平面广告设计，UED设计， 室内空间和3D VR设计，网站建设,软件开发，移动互联网开发，电子商务等多个专业方向的实习实训合作，帮助高校提升相关专业毕业学生的企业实践操作能力，助力大学毕业生高 薪就业。同时，公司自成立以来先后同电讯盈科，汇丰软件，中长康达，启宏科技，百度，阿里巴巴，前程无忧，广州欧蓝自动化公司，帅天广告公司，火之鸟广告公司，志科电子商 务公司，品高软件等华南区200多家公司建立了长期合作关系。其合作方式包括：企业品牌策划与广告设计服务；高端技术人才联合培养与输送合作；网站建设与定制软件开发服务； 网络营销推广外包合作；高端技能型人才代理招聘；企业内训服务等。通过整合技术和人才资源，澳源科技不断为合作高校和企业输送新鲜血液。
            </div>
        </div>
        <div class="two">
            <div class="kaifa">
                <h3 center class="type1">部分合作院校</h3>
                <ul>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_xx_36.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_xx_03.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_xx_05.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_xx_08.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_xx_11.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_xx_18.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_xx_20.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_xx_22.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_xx_24.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_xx_31.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_xx_34.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_xx_36.jpg"></li>
                </ul>
            </div>
            <div class="qiye">
                <h3 center class="type2">部分合作院校</h3>
                <ul>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_03.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_05.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_05.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_07.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_11.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_12.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_14.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_18.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_21.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_24.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_26.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_31.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_33.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_03.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_11.jpg"></li>
                    <li><img src="__STATIC_PATH__/index/xqhz/images/xqhz_pic_26.jpg"></li>
                </ul>
            </div>
            <div class="qiye">
                <h3 center class="type3">部分合作院校</h3>
                <p> ★ 校企实习实训基地建设合作 ★
                   <br><br> ★ 二/三加一企业定制班项目 ★
                    <br><br> ★ 高校师资实践培养/产学研项目合作 ★
                    <br><br> ★ 企业高端技能型人才内训 ★
                    <br><br> ★ 企业项目IT公益实训 ★
                    <br><br> ★ 大学生就创业校企助学基地建设 ★</p>
            </div>
        </div>
    </div>
   
    {include file="common/footer"}