<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{if $title} {$title} - {/if}  澳源科技 - 智慧创造新未来</title>
    <meta name="Keywords" content="澳源,源酷,广州澳源 ,澳源股份,源酷创意,广州源酷,广州澳源股份有限公司" />
    <meta name="description" content="澳源科技引领行业未来，中国领袖企业典范，品质无可替代。澳源股份同时为企业提供相关IT技术的内训服务，人才输送服务和高校IT人才实习实训服务。通过整合人才和技术资源，澳源股份不断为广告和IT行业输送新鲜血液、为客户提供优质的产品和服务。 " />
    
    <link rel="shortcut icon" href="/aoyuan/favicon.ico">
    <!-- //以极速模式渲染 -->
    <meta name="renderer" content="webkit" />
    <!-- 以最高级模式渲染文档 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <!--  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script> -->
   <script type="text/javascript" src="__STATIC_PATH__/index/common/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC_PATH__/index/common/css/header.css">
    <link rel="stylesheet" type="text/css" href="__STATIC_PATH__/index/common/css/footer.css">
</head>

<body>

    <div class="all_container">
    <div id="header" class="index_nav">
        <div class="nav_content">
            <a class="logo" href="/">
				<img src="__STATIC_PATH__/index/common/img/nav_logo.png" alt="澳源科技">
			</a>
            <ul class="ul_nav">
                <li class="navitem">
                    <a class="a_nav" href="{:url('index/index')}">
						<span>首页</span>
					</a>
                </li>
                <li class="navitem">
                    <a class="a_nav" href="{:url('about/index')}">
						<span>关于澳源</span>
					</a>
                </li>
                <li class="navitem">
                    <a class="a_nav" href="">
						<span>助学成才</span>
						<i class="iconfont">&#xe624;</i>
					</a>
                    <ul class="subnav">
                        <li>
                            <a href="{:url('zxcc/brzx')}">
								<span>百人助学</span>
							</a>
                        </li>
                        <li>
                            <a href="{:url('zxcc/qrpy')}">
								<span>千人培养</span>
							</a>
                        </li>
                        <li>
                            <a href="{:url('zxcc/wrsy')}">
								<span>万人受益</span>
							</a>
                        </li>
                        <li>
                            <a href="{:url('zxcc/xmjs')}">
								<span>项目讲师</span>
							</a>
                        </li>
                    </ul>
                </li>
                <li class="navitem">
                    <a class="a_nav" href="{:url('tribune/index')}">
						<span>江湖论坛</span>
					</a>
                </li>
                <li class="navitem">
                    <a class="a_nav" href="#">
						<span>我要提升</span>
                        <i class="iconfont">&#xe624;</i>
					</a>
                    <ul class="subnav">
                        <li>
                            <a href="{:url('wyts/sjts')}">
                                <span>设计提升</span>
                            </a>
                        </li>
                        <li>
                            <a href="{:url('wyts/kfts')}">
                                <span>开发提升</span>
                            </a>
                        </li>
                        <li>
                            <a href="{:url('wyts/sjts')}">
                                <span>营销提升</span>
                            </a>
                        </li>
                    </ul>                    
                </li>
                <li class="navitem">
                    <a class="a_nav" href="{:url('xqhz/index')}">
                        <span>校企合作</span>
                    </a>
                </li>                
            </ul>
        </div>
    </div>
    <!-- <div class="sidebar">
        <div class="sb_phone">
            <i class="iconfont">&#xe685;</i>
        </div>
        <div class="online_zx">
            <div class="olzx_head">
                在线咨询<i class="iconfont">&#xe626;</i>
            </div>
            <div class="olzx_qq">
                <a href="#">
                   <i class="iconfont">&#xe649;</i>40080000
                </a>
            </div>
            <div class="olzx_tel">
                <div>
                    <i class="iconfont">&#xe69a;</i>
                    联系电话
                </div>
                <p>400-888-8888</p>
            </div>
        </div>        
        <div class="sb_wx">
            <i class="iconfont">&#xe6e2;</i>
        </div>
        <div class="fixed_wx">
            <div class="wx_container">
                <div class="ewcode">
                    <img src="__STATIC_PATH__/index/common/img/code.png" alt="">
                </div>
                <p>扫描二维码分享到微信</p>
            </div>
        </div>
        <div class="totop">
            <i class="iconfont">&#xe663;</i>
        </div>
        
    </div> -->

    <script src="__STATIC_PATH__/index/common/js/header.js"></script>